body{

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    animation: fanimado 10s infinite;
    margin: 0;
    background-size: 500%;
    background-image: linear-gradient(135deg, rgb(59, 46, 25),rgba(68, 37, 9, 0.781),rgb(38, 39, 7),rgb(26, 13, 1))

}
.th2 {
    background-color: #868b55;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    padding: 20px 20px;
  }
     
      .th1 {
        border: 1px solid black;
        background-color: #d8d8d5;
        text-align: center;
        width: 50%;
        margin: auto;
        margin-top: 30px;
        padding: 20px 20px;
      }
      table th{
        width: 100%;
        border: 1px solid black;
        border: 3px solid #86774a;
        padding: 20px 50px;
        margin-top: 20px;
        border-radius: 5px;
        background-color: #b3b4ac;
        
      }
      .Tlechon { 
        border: 1px solid black; 
      }
      
   
      
