body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    animation: fanimado 10s infinite;
    margin: 0;
    background-size: 500%;
    background-image: linear-gradient(135deg, rgb(59, 46, 25),rgba(68, 37, 9, 0.781),rgb(38, 39, 7),rgb(26, 13, 1))
   
}


@keyframes fanimado{
    0%{
        background-position: 0% 50%;

    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
/*botones de rol veterinario y rol encargado*/
.b{
   
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, 0);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 25px;
    background-color: blanchedalmond;
    background-position: center;
    border-radius: 100px;
    padding: 30px 50px;
    margin: 30px 50px;
    color: rgb(0, 0, 0);
     text-decoration: none;
     height: 50px; 
      
  }
  .b:hover{
    background-color:rgb(0, 0, 0);
    border: 2px solid rgb(106, 184, 230);
    color: rgb(255, 247, 247);
    background-image: url(IMG/logo22.png);
}  
section b{
    font-weight: 800px;   
   display: block;
}
.logo{
    display: block;
    align-items: center; 
    background-image: url(IMG/imagen2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 500px;
    margin: 500px;
    width: 300px;
    height: 200px;
}
.logo img{
    height: 100px;
    display: block;
}
.titulo{
    display: flex;
}
section{
    display: flex;
    flex-basis: 20rem;
    flex-grow: 1;
    min-height: 70px;
    justify-content: space-between; 
    background-color: rgb(15, 9, 1);
    flex-wrap: wrap;
    background-image: url(logo4.avif);
  
  
}
.lista{
   
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, 0);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-position: center;
    border-radius: 100px;
    padding: 10px 400px;
    margin: 50px 50px;
    color: rgb(5, 5, 5);
     text-decoration: none;
     width: 300px;
    height: 700px;
}
.registro{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    padding: 50px 50px;
}
/*botones de registros*/
.b2{
    background-color:rgb(190, 152, 116);
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, 0);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    background-position: center;
    border-radius: 100px;
    padding: 10px 15px;
    margin: 10px 10px;
    color: rgb(0, 0, 0);
    text-decoration: none; 
   
  }


.b2:hover{
    background-color:rgb(250, 188, 130);
    border: 2px solid rgb(106, 184, 230);
    color: rgb(43, 43, 40);
   ;
}  
.sectionb{
    display: flex;
    flex-basis: 20rem;
    flex-grow: 1;
    min-height: 70px;
    justify-content: space-between; 
    background-color: rgb(15, 9, 1);
    padding: 10px;
    background-image: url(logo4.avif);
}

 
.b3{
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, 0);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    background-image: url(IMG/logo8.png);
    background-position: center;
    border-radius: 100px;
    padding: 30px 50px;
    margin: 30px 50px;
    color: rgb(0, 0, 0);
     text-decoration: none;
     height: 100px;
     width: 200px;
  
  }


.b3:hover{
    background-color:rgb(0, 0, 0);
    border: 2px solid rgb(106, 184, 230);
    color: rgb(255, 247, 247);
    background-image: url(IMG/logo22.png);
   ;
}  
.b4{
    background-color: rgb(154 178 205);
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, 0);
    /* display: flex; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 900;
    background-position: center;
    /* border-radius: 100px; */
    /* padding: 30px 50px; */
    margin: 30px 50px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    height: 40px;
    width: 150px;
    float: right;
    text-align: center;
  
  }


.b4:hover{
    background-color:rgb(0, 0, 0);
    border: 2px solid rgb(106, 184, 230);
    color: rgb(255, 247, 247);
    background-image: url(IMG/logo22.png);
   ;
}  
.b8{
    color: rgb(255, 247, 247);

}
.b8:hover{
    color: rgb(236, 221, 132);
}


.b5{
    background-color:rgb(0, 0, 0);
   
    color: rgb(238, 221, 221);
    background-image: url(IMG/logo22.png);
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, 0);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    background-position: center;
    border-radius: 100px;
    padding: 10px 15px;
    margin: 10px 10px;
    text-decoration: none; 
   
  } 
  .b5:hover{
    background-color:rgb(0, 0, 0);
    border: 2px solid rgb(255, 0, 0);
    color: rgb(255, 247, 247);
    
   
} 
