body{

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    animation: fanimado 10s infinite;
    margin: 0;
    background-size: 500%;
    background-image: linear-gradient(135deg, rgb(59, 46, 25),rgba(68, 37, 9, 0.781),rgb(38, 39, 7),rgb(26, 13, 1))

}
@keyframes fanimado{
    0%{
        background-position: 0% 50%;

    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
/*botones de rol veterinario y rol encargado*/
.b{
   
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, 0);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    background-image: url(IMG/logo7.png);
    background-position: center;
    border-radius: 100px;
    padding: 30px 50px;
    margin: 30px 50px;
    color: rgb(0, 0, 0);
     text-decoration: none;
      
  }
  .b:hover{
    background-color:rgb(59, 54, 50);
    border: 2px solid rgb(106, 184, 230);
    color: rgb(255, 247, 247);
    background-image: url(logo4.avif);
}  
section b{
    font-weight: 800px;   
   display: block;
}
.logo{
    display: block;
    align-items: center; 
    background-image: url(IMG/imagen2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 500px;
    padding: 30px 30px;
    width: 300px;
    height: 200px;
}
.logo img{
    height: 100px;
    display: block;
}
.titulo{
    display: flex;
}
section{
    display: flex;
    flex-basis: 20rem;
    flex-grow: 1;
    min-height: 70px;
    justify-content: space-between; 
    background-color: rgb(15, 9, 1);
    padding: 10px;
    background-image: url(logo4.avif);
  
}
.lista{
   
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, 0);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-position: center;
    border-radius: 100px;
    padding: 10px 400px;
    margin: 50px 50px;
    color: rgb(5, 5, 5);
     text-decoration: none;
     width: 300px;
    height: 700px;
}
.registro{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    padding: 50px 50px;
}
/*botones de registros*/
.b2{
    background-color:rgb(190, 152, 116);
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, 0);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-position: center;
    border-radius: 100px;
    padding: 10px 15px;
    margin: 10px 10px;
    color: rgb(0, 0, 0);
    text-decoration: none; 
  }


.b2:hover{
    background-color:rgb(250, 188, 130);
    border: 2px solid rgb(106, 184, 230);
    color: rgb(255, 255, 235);
   ;
}  
.sectionb{
    display: flex;
    flex-basis: 20rem;
    flex-grow: 1;
    min-height: 70px;
    justify-content: space-between; 
    background-color: rgb(15, 9, 1);
    padding: 10px;
    background-image: url(logo4.avif);
}
.b3{
   
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, 0);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200px;
    background-image: url(IMG/logo7.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    padding: 30px 10px;
    margin: 30px 10px;
    color: rgb(0, 0, 0);
     text-decoration: none;
     margin-top: 250px;
      height: 10px;
  }
  .b3:hover{
    background-color:rgb(182, 168, 156);
    border: 2px solid rgb(32, 163, 240);
    color: rgb(219, 211, 211);
    background-image: url(logo4.avif);
}  
