#site-header.fixed-hide {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9989;
    transition: background ease 0.3s;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(29, 43, 55, 0.7);
}
 #main-nav {
    display: block;
    float: center;
}
#main-nav {
    display: block;
    float: right;
}
#main-nav ul {
    margin: 0;
}
#main-nav ul li {
    position: relative;
    list-style: none;
    padding-top: 0;
    padding-bottom: 0;
    float: left;
    margin: 0 17px;
    
}
.miInput {
    background-color: rgb(30 48 67);
}
#main-nav > ul > li{
    
    height: 80px;
    
}
#main-nav > ul > li > a {
    display: block;
    /*font-family: "Muli", sans-serif;*/
    font-weight: 100;
    letter-spacing: 0.25px;
    height: 10px;
    line-height: 100px;
    text-decoration: none;
    color: rgba(84, 228, 228, 0.801);
}
#main-nav > ul > li > a:not([href]) {
    cursor: pointer;
}
.last-li {
    margin-left:150px;
}

img {
    width: 120px; /* Set the width to 200 pixels */
    height: auto; 
}
/* Logo */

#site-logo {
    float: left;
    max-width: 100%;
    transition: all ease 0.3s;
    margin: 0px 0px 0px 160px;
}

#site-logo-inner {    
    transition: all ease 0.9s;
}
/*form style*/
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #7087c7;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-container {
    border-radius: 5px;
    background-color:#1e304366;
    padding: 20px;
  }
body{
    background-image: linear-gradient(to right, #aa468e 10%, #305caf 90%);
}