#site-header.fixed-hide {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9989;
    transition: background ease 0.3s;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(29, 43, 55, 0.7);
}

     #main-nav {
    display: block;
    float: center;
}
#main-nav {
    display: block;
    float: right;
}
#main-nav ul {
    margin: 0;
}
#main-nav ul li {
    position: relative;
    list-style: none;
    padding-top: 0;
    padding-bottom: 0;
    float: left;
    margin: 0 17px;
    
}
#main-nav > ul > li{
    
    height: 100px;
    
}
#main-nav > ul > li > a {
    display: block;
    /*font-family: "Muli", sans-serif;*/
    font-weight: 100;
    letter-spacing: 0.25px;
    height: 10px;
    line-height: 100px;
    text-decoration: none;
    color: black;
}
#main-nav > ul > li > a:not([href]) {
    cursor: pointer;
}
.last-li {
    margin-left:150px;
}

img {
    width: 80px; /* Set the width to 200 pixels */
    height: auto; 
}
/* Logo */

#site-logo {
    float: left;
    max-width: 100%;
    transition: all ease 0.3s;
    margin: 0px 0px 0px 120px;
}

#site-logo-inner {    
    transition: all ease 0.3s;
}
/*form style*/
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
body{
    background-image: linear-gradient(to right, #9b3b80 0%, #456cb1 100%);
}